<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335374423894-tijqn5mv90s1are2ek8vu39ik79iso5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335374423894-tijqn5mv90s1are2ek8vu39ik79iso5m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>335374423894-fq90hgtqlq976cua6f2296mnee96ij7e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA11zuXSSupQtFI_UxAarZClSIa1m0rIM</string>
	<key>GCM_SENDER_ID</key>
	<string>335374423894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFlavorSample.prod</string>
	<key>PROJECT_ID</key>
	<string>flutter-flavor-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flavor-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335374423894:ios:4068d55ea572e64b5968f7</string>
</dict>
</plist>